

  body {
  font-family: montserrat, cursive;
  background-color: white;
  font-weight: 400;
  font-size: 17px;
  margin-left: 50px;
  max-width: 100%;
}

.topnav {
        background-color: rgb(20, 14, 14);
        overflow: hidden;
        padding: 0px;
}


.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: rgb(15, 13, 13);
}

h1 {
 text-align: center;
 text-decoration: underline;
 }

#cart-list {
  list-style: number;
}
.d-flex {
  display: flex;
}
#list {
  list-style: none;
}
   .button {
  border: 4px solid #3D3D3D;
  width: 95px;
  height: 70px;
}
   .button:hover {
  background-color: #3D3D3D; 
  color: white;
}

  
 
