body {
    background-color: white;
    background-size: cover;
    max-width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: 100;
    font-size: 17px;
}
.topnav {
        background-color: rgb(39, 33, 33);
        overflow: hidden;
        padding: 0px;
        border-radius: 0.4em;
}


.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover {
    background-color:  rgb(58, 36, 187);
    color: white;
   
}
#search {
    text-align: right;
}
h1 {
    text-align: center;
    text-decoration: underline;
}

#cart-list {
    list-style: number;
}
.container {
  display: flex;
    font-weight: 100;
}
.d-block {
  display: inline-block;
  margin-right: 50px;
  font-weight: 80;
}
.img-size {
  width: 250px;
height: 400px;
}
#sale-price {
  font-weight: 500;
  color: red;

}


#list {
    list-style: none;
}

.button {
    border: 4px solid black;
    border-radius: 0.4em;
    background-color:  rgb(58, 36, 187);
    width: 85px;
    height: 65px;
}

.button:hover {
    background-color:  rgb(58, 36, 187);
    color: white;
}






  
