
body {
  font-family: montserrat, cursive;
}
h1 {
 text-align: center;
 text-decoration: underline;
 
}
.nav-area {
  list-style: none;
  text-decoration: none;
  background: #3D3D3D;
  height: 60px;
  wifht: 100%;
  }

#cart-list {
  list-style: number;
}
.d-flex {
  display: flex;
}
#list {
  list-style: none;
}
   .button {
  border: 4px solid #3D3D3D;
  width: 95px;
  height: 70px;
}
   .button:hover {
  background-color: #3D3D3D; 
  color: white;
}
#cart-1 {
  width: 45px;
  height: 30px;
  }
  
 
